body {
    margin: 0;
}
#header { 
    width:100% ;
    height:10% ;
    position: absolute;
    

}
.Logo {
    height:10%;
    width: 30%;
    position: absolute;
    top: 10% ;
    left: 5%;
    bottom:5%;
    font-size: 40px;
}
.menu {
    width:50%;
   position: absolute;
    left:15%;
    font-size: 23px;
}
.menu li {
    display: inline; 
    margin: 1%; 
    padding: 1%; 
    color: #151646;
    

}
.shop {
    height:10%;
    width: 2%;
    position: absolute;
    top: 30%;
    left: 95%;
    bottom:5%;
    font-size: 24px;
}
.registr {
    top: 15%;
    position: absolute;
    height: 85%;
    width: 100%;
    background-color: #151646;
    
}
.registration_login_password {
    position: absolute;
    min-height: 70%;
    width: 50%;
   margin-top: 5%;
   margin-left: 25%;
    background-color: #fff;

}
.menu_name {
    position: absolute;
    height: 20%;
    width: 30%;
    background-color: white;
    margin-left: 40%;
    font-size: 40px;
    
}
.menu_name p {
    color: #151646;

}
.Login {
    padding: 2%;
    margin-left: 10%;
    margin-top: 16%;
    height: 50%;
    width: 80%;
    position: absolute;
    background-color: #151646;
}
.Login_and_password {
    margin-left: 5%;
    position: absolute;
    height: 80%;
    width: 80%;
    border: 5px;
}
input[type=text], input[type=password] {
    width: 80%;
    padding: 20px;
    margin: 5px;
    border: none;
    background: white;
    
  }
b {
    font-size: 20px;
    color: white;
}
.Enter {
    height: 15%;
    background-color: aqua;
    width: 15%;
    margin-left: 6%;
    margin-top: 31%;
}
.Enter button {
    height: 100%;
    width: 100%;
}