body {
    margin: 0;
}
#header { 
    width:100% ;
    height:10% ;
    position: absolute;
    

}
.Logo {
    height:10%;
    width: 30%;
    position: absolute;
    top: 10% ;
    left: 5%;
    bottom:5%;
    font-size: 40px;
}
.menu {
    width:50%;
   position: absolute;
    left:15%;
    font-size: 23px;
}
.menu li {
    display: inline; 
    margin: 1%; 
    padding: 1%; 
    color: #151646;
    

}
.shop {
    height:10%;
    width: 2%;
    position: absolute;
    top: 30%;
    left: 95%;
    bottom:5%;
    font-size: 24px;
}
.registr {
    top: 15%;
    position: absolute;
    height: 85%;
    width: 100%;
    background-color: #151646;
    
}
.registration_login_password {
    position: absolute;
    min-height: 85%;
    width: 90%;
   margin-top: 2%;
   margin-left: 5%;
    background-color: #151646;
}
.Profil {
    position: absolute;
    height: 30%;
    width: 40%;
    background-color: #151646;
}
.Ilon {
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    height: 40%;
    width: 15%;
    background-color: #fff;
    border-radius: 100%;
}
.name_Ilon {
    margin-top: 6%;
    height: 30%;
    width: 80%;
    margin-left: 20%;
    font-size: 30px;
    
}
.name_Ilon li {
list-style-type: none;
color: white;
}
.Buy {
    height: 10%;
    width: 10%;
    color: white;
    position: absolute;
    margin-top: 13%;
    font-size: 40px;
}
.items {
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #151646;
    margin-top: 20%;
}
.Item_first {
    margin-top: 1%;
    margin-left: 5%;
    float: left;
    height: 80%;
    width: 25%;
    background-color:red;

}
.Item_first img {
    height: 100%;
    width: 100%;
}
.Item_two {
    margin-top: 1%;
    float: left;
    height: 80%;
    width: 25%;
    background-color:green;
    margin-left: 8%;   
}
.Item_two img {
    height: 100%;
    width: 100%;
}
.Item_three {
    margin-top: 1%;
    height: 80%;
    width: 25%;
    background-color:green;
    margin-left: 70%;   
}
.Item_three img {
    height: 100%;
    width: 100%;
}
.Name_Item {
    position: absolute;
    height: 20%;
    width: 100%;
   
    margin-top: 39%;
}
.Name_Item p {
    color: white;
}
.Name_item_first {
    height: 80%;
    width: 20%;
   margin-top: 1%;
    margin-left: 10%;
    font-size: 30px;
    float: left;
}
.Name_item_two {
    height: 80%;
    width: 20%;
    margin-top: 1%;
    margin-left: 12%;
    font-size: 30px;
    float: left;

}
.Name_item_three {
    height: 80%;
    width: 20%;
    margin-top: 3.5%;
    margin-left: 75%;
    font-size: 30px;
    

}