body {
    margin: 0;
    background-color: #151646;
}
#header { 
    width:100% ;
    height:10% ;
    position: absolute;
    background-color: whitesmoke;
    

}
.Logo {
   min-height:30%;
    width: 30%;
    position: absolute;
    top: 10% ;
    left: 5%;
    bottom:5%;
    color: black;
    font-size: 40px;
}
.menu {
    width:80%;
    position: absolute;
    left:15%;
    font-size: 23px;
}
.menu li {
    display: inline; 
    margin: 1%; 
    padding: 1%; 
    color: black;
    

}
.shop {
   min-height:10%;
    
    position: absolute;
    top: 30%;
    left: 92%;
    bottom:5%;
    color: black;
    font-size: 25px;
}
.frame_cinema {
    top: 10%;
    position: absolute;
    height: 70%;
    width: 100%;
}
.frame_cinema img {
    height: 120%;
    width: 100%;
}
.Menu_Film {
    position: absolute;
    height: 120%;
    width: 90%;
    top: 100%;
    margin-left: 5%;

}
.Menu_Name {
    height: 10%;
    width: 100%;
    background-color: #756b74;
    text-align: center;
    
}


.Menu_Chart {
    
    position: absolute;
    height: 120%;
    width: 100%;
    background-color: aliceblue;
}
.first {
    float: left;
    height: 35%;
    width: 25%;
    padding: 2%;
    margin-left: 1%;
    margin-top: 5%;

    
    
}
.First_cinema {
    height: 88%;
    width: 76%;
    margin-left: 10%;
    margin-top: 5%;
    border-style: solid;
}
.First_cinema img { 
    height: 100%;
    width: 100%;
}
.text_first_cinema {
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
}
.two {
    float: left;
    height: 35%;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
  
    padding: 2%;
}
.Two_cinema {
    height: 88%;
    width: 76%;
    border-style: solid;
    margin-left: 10%;
    margin-top: 5%;
}
.Two_cinema img { 
    height: 100%;
    width: 100%;
}
.Text_two_cinema {
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
}
.three {
    float: left;
    height: 35%;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
   
    padding: 2%;

}
.Three_cinema {
    margin-top: 5%;
    margin-left: 10%;
    height: 88%;
    width: 76%;
    border-style: solid;

}
.Three_cinema img { 
    height: 100%;
    width: 100%;
}
.Text_three_cinema {
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
}
.foure {
    float: left;
    height: 35%;
    width: 25%;
    margin-top: 5%;
    margin-left: 1%;
 
    padding: 2%;

}
.foure_cinema {
    margin-top: 5%;
    margin-left: 10%;
    height: 88%;
    width: 76%;
    border-style: solid;

}
.foure_cinema img { 
    height: 100%;
    width: 100%;
}
.Text_foure_cinema {
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
}
.five {
    float: left;
    height: 35%;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    
    padding: 2%;

}
.Five_cinema {
    margin-top: 5%;
    margin-left: 10%;
    height: 88%;
    width: 76%;
    border-style: solid;
}
.Five_cinema img {
    height: 100%;
    width: 100%;
}
.Text_five_cinema {
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
}
.six {
    float: left;
    height: 35%;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 2%;

}
.six_cinema {
    margin-top: 5%;
    margin-left: 10%;
    height: 88%;
    width: 76%;
    border-style: solid;
   
}
.six_cinema img { 
    height: 100%;
    width: 100%;
}
.Text_six_cinema {
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
}
.Text_Menu_Name {
    padding: 2%;
    color: black;
    font-size: 50px;
}
.News { 
    position: absolute;
    height: 48%;
    width: 100%;
    background-color: white;
    top: 140%;
}
.Text_News {
    height: 20%;
    width: 100%;
    background-color: #756b74;
    text-align: center;
    font-size: 45px;
}
.News_list { 
    font-size: 40px;
    margin-left: 5%;
}
.News_list li { 
    list-style-type: none;
    padding: 1%;
}
.relise {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 200%;
    background-color: white;
}
.relise_headio { 
    height: 15%;
    width: 100%;
    background-color:#756b74 ;
    text-align: center;
    font-size: 45px;
}
.left_film{
    height: 60%;
    width: 30%;
    margin-left: 10%;
    margin-top: 8%;
    float: left;
}
.right_film {
    height: 60%;
    width: 30%;
    margin-left: 60%;
    margin-top: 8%;

}
.Picture_lefr_film {
    height: 90%;
    width: 100%;

}
.Text_left_film {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 20px;

}
.Picture_lefr_film img {
    height: 100%;
    width: 100%;
    border-style: solid;
}
.Picture_rigth_film {
    height: 90%;
    width: 100%;
  

}
.Text_rigth_film {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 20px;

}
.Picture_rigth_film img {
    height: 100%;
    width: 100%;
    border-style: solid;
}
.Footer {
    width:100% ;
    height:10% ;
    position: absolute;
    background-color: whitesmoke;
    top: 448%;
    text-align: center;
    font-size: 40px;
}
